:root {
    /* base16: based on shapeshifter dark */
    --color-black: #000000;
    --color-red: #e92f2f;
    --color-green: #0ed839;
    --color-yellow: #dddd13;
    --color-orange: #dd9e13;
    --color-blue: #3b48e3;
    --color-magenta: #f996e2;
    --color-purple: #b071f9;
    --color-cyan: #23edda;
    --color-white: #ababab;

    --color-bright-black: #343434;
    --color-bright-red: #e92f2f;
    --color-bright-green: #0ed839;
    --color-bright-yellow: #dddd13;
    --color-bright-orange: #dd9e13;
    --color-bright-blue: #3b48e3;
    --color-bright-magenta: #f996e2;
    --color-bright-purple: #b071f9;
    --color-bright-cyan: #23edda;
    --color-bright-white: #f9f9f9;

    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-text: var(--color-foreground);
    --color-subtle: var(--color-white);

    /* i just think these fonts look good, we don't bother to actually ship them though */
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Monaspace Neon', monospace;

    --animation-length: 0.3s;
    --color-username: var(--color-magenta);
    --color-room-inactive: var(--color-subtle);
    --color-room-active: var(--color-yellow);
    --color-tool-inactive: var(--color-subtle);
    --color-tool-active: var(--color-blue);
    --color-heating: var(--color-orange);
    --color-temp: var(--color-subtle);
    --color-lighting: var(--color-bright-yellow);

    --fade-out-gradient: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 1.0))
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-mono);
    margin: 2rem 0;
}

main {
    width: 75%;
    margin: 0 auto;
}

@media only screen and (orientation: portrait) {
    main {
        margin-top: 5rem;
        width: 95%;
    }
}
