main {
    font-family: var(--font-sans);
}

.tile-area {
    padding: 1rem 3rem;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, 7.5rem);
    align-items: start;
    justify-content: center;
    gap: 3px;
    row-gap: 2rem;
}

.tile-group {
    display: grid;
    grid-template-columns: subgrid;
    gap: 3px;
    grid-auto-rows: auto;
}

.tile-group-title {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
    align-self: end;
}

.tile {
    overflow: hidden;

    aspect-ratio: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: var(--color-base);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.tile img {
    aspect-ratio: 1;
    margin: 0 auto;
    height: 4rem;
}

.tile label {
    display: block;
    color: var(--color-base);
    font-size: 1.25rem;
}

.bg-black { background: var(--color-black); }
.bg-red { background: var(--color-red); }
.bg-green { background: var(--color-green); color: var(--color-black); }
.bg-yellow { background: var(--color-yellow); color: var(--color-black); }
.bg-orange { background: var(--color-orange); color: var(--color-black); }
.bg-blue { background: var(--color-blue); }
.bg-magenta { background: var(--color-magenta); color: var(--color-black); }
.bg-purple { background: var(--color-purple); }
.bg-cyan { background: var(--color-cyan); }
.bg-white { background: var(--color-white); color: var(--color-black); }

.bg-bright-black { background: var(--color-bright-black); }
.bg-bright-red { background: var(--color-bright-red); }
.bg-bright-green { background: var(--color-bright-green); }
.bg-bright-yellow { background: var(--color-bright-yellow); }
.bg-bright-orange { background: var(--color-bright-yellow); }
.bg-bright-blue { background: var(--color-bright-blue); }
.bg-bright-magenta { background: var(--color-bright-magenta); }
.bg-bright-purple { background: var(--color-bright-purple); }
.bg-bright-cyan { background: var(--color-bright-cyan); }
.bg-bright-white { background: var(--color-bright-white); }
.bg-subtle { background: var(--color-subtle: var(--color-white)); }

.subscribe-active {
  border: 0.1rem solid var(--color-white);
  background-color: var(--color-bright-yellow);
}
