/* Actual page styling */
:root {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Monaspace Neon', monospace;

    --animation-length: 0.3s;
    --log-font-size: 1.0rem;
    --color-base: #000;
    --color-text: #fff;
    --color-subtle: #AAA;
    --color-username: #F012BE;
    --color-room-inactive: #AAA;
    --color-room-active: #FFDC00;
    --color-tool-inactive: #AAA;
    --color-tool-active: #0074D9;
}

body {
    background: var(--color-base);
    color: var(--color-text);
    font-family: var(--font-sans);
    margin: 2rem 0;
}

main {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    align-items: start;
}

@media only screen and (orientation: portrait) {
    :root {
        --log-font-size: 2rem;
    }

    main {
        margin-top: 5rem;
        grid-template-columns: 100%;
        width: 90%;
    }
}

#map {
    width: 100%;
}

/* The action log */
#log {
    list-style: none;
    font-family: var(--font-mono);
    font-size: var(--log-font-size);
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

#log::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0));
}

#log li {
    animation-name: slidein;
    animation-duration: var(--animation-length);
}

@keyframes slidein {
    from {
        font-size: 0;
    }
    to {
        font-size: var(--log-font-size);
    }
}

/* Helpers for log entries to use */
span.username {
    color: var(--color-username);
}
span.room {
    color: var(--color-room-active);
}
span.tool {
    color: var(--color-tool-active);
}

/* SVG Styling */

/* Decorative elements */
#hallway {
    stroke: var(--color-subtle);
    stroke-width: 1px;
    stroke-dasharray: 5;
}

/* Room rectangles and labels */
rect.room {
    fill: none;
    stroke: var(--color-room-inactive);
    stroke-width: 2px;
}

text.room {
    fill: var(--color-room-inactive);
    font-family: var(--font-mono);
}

.room {
    transition: all var(--animation-length);
}

rect.room.active {
    stroke: var(--color-room-active);
    stroke-width: 3px;
}
text.room.active {
    fill: var(--color-room-active);
}

/* Tool rectangles, path things, and labels */
rect.tool {
    stroke: var(--color-tool-inactive);
    stroke-width: 2px;
    transition: all var(--animation-length);
}
path.tool, text.tool {
    opacity: 0;
    font-family: var(--font-mono);
    font-size: 13px;
    transition: all var(--animation-length);
}

rect.tool.active {
    fill: var(--color-tool-active);
    stroke: none;
}

path.tool.active {
    opacity: 1;
    stroke: var(--color-tool-active);
}

text.tool.active {
    opacity: 1;
    fill: var(--color-tool-active);
}
