:root {
    --log-font-size: 1.5rem;
    --fade-out-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1.0));
}

@media (prefers-color-scheme: light) {
    :root {
        --fade-out-gradient: linear-gradient(rgba(239, 241, 245, 0), rgba(239, 241, 245, 1.0))
    }
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    align-items: start;
}

@media only screen and (orientation: portrait) {
    :root {
        --log-font-size: 2rem;
    }

    main {
        margin-top: 5rem;
        grid-template-columns: 100%;
        width: 90%;
    }
}

#map {
    width: 100%;
}

/* The action log */
#log {
    list-style: none;
    font-family: var(--font-mono);
    font-size: var(--log-font-size);
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

#log::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: var(--fade-out-gradient);
}

#log li {
    animation-name: slidein;
    animation-duration: var(--animation-length);
}

@keyframes slidein {
    from {
        font-size: 0;
    }
    to {
        font-size: var(--log-font-size);
    }
}

/* Helpers for log entries to use */
span.username {
    color: var(--color-username);
    font-weight: bold;
}
span.room {
    color: var(--color-room-active);
    font-weight: bold;
}
span.tool {
    color: var(--color-tool-active);
    font-weight: bold;
}

/* SVG Styling */

/* Decorative elements */
#hallway {
    stroke: var(--color-subtle);
    stroke-width: 1px;
    stroke-dasharray: 5;
    fill: none;
}

/* Room rectangles and labels */
rect.room {
    fill: none;
    stroke: var(--color-room-inactive);
    stroke-width: 2px;
}

text.room {
    fill: var(--color-room-inactive);
    font-family: var(--font-mono);
}

.room {
    transition: all var(--animation-length);
}

rect.room.active {
    stroke: var(--color-room-active);
    stroke-width: 3px;
}
text.room.active {
    fill: var(--color-room-active);
}

/* Tool rectangles, path things, and labels */
rect.tool {
    fill: none;
    stroke: var(--color-tool-inactive);
    stroke-width: 2px;
    transition: all var(--animation-length);
}
path.tool, text.tool {
    opacity: 0;
    font-family: var(--font-mono);
    font-size: 13px;
    transition: all var(--animation-length);
    fill: none;
}

rect.tool.active {
    fill: var(--color-tool-active);
    stroke: none;
}

path.tool.active {
    opacity: 1;
    stroke: var(--color-tool-active);
}

text.tool.active {
    opacity: 1;
    fill: var(--color-tool-active);
}
