{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/lights.css' %}" rel="stylesheet"/>
<title>G1 Lights</title>
{% endblock %}

{% block body %}

<main>
    <div class="room-vis">
        <div id="hall"><span>Hall</span></div>
        <!-- Left to right, top to bottom, starting at radio corner -->
        <!-- See https://wiki.ehlab.uk/g1_lighting#dali_addresses -->
        <div class="light" data-id="2"></div>
        <div class="light" data-id="5"></div>
        <div class="light" data-id="8"></div>
        <div class="light" data-id="9"></div>
        <div class="light" data-id="14"></div>
        <div class="light" data-id="17"></div>
        <div class="light" data-id="1"></div>
        <div class="light" data-id="4"></div>
        <div class="light" data-id="7"></div>
        <div class="light" data-id="10"></div>
        <div class="light" data-id="13"></div>
        <div class="light" data-id="16"></div>
        <div class="light" data-id="0"></div>
        <div class="light" data-id="3"></div>
        <div class="light" data-id="6"></div>
        <div class="light" data-id="11"></div>
        <div class="light" data-id="12"></div>
        <div class="light" data-id="15"></div>
        <div id="window"><span>Window</span></div>
    </div>
    <div id="actions">
        <div id="selection-status">No lights selected.</div>
        <input id="deselect" type="button" class="hidden" value="Deselect" />
        <div id="presets">
            <input type="button" value="All" data-preset="all" />
            <input type="button" value="Left half" data-preset="workbench" />
            <input type="button" value="Right half" data-preset="social" />
            <br/>
            <input type="button" value="Soldering" data-preset="soldering" />
            <input type="button" value="Kitchen" data-preset="kitchen" />
        </div>
        <div id="values" class="hidden">
            <input value="Off" type="button" data-brightness="0"/>
            <input value="Dim" type="button" data-brightness="150" />
            <input value="Normal" type="button" data-brightness="190"/>
            <input value="Bright" type="button" data-brightness="240"/>
            <input value="Full" type="button" data-brightness="255"/>
            <div class="ajax-slider" data-brightness="0">
                <div style="width: 0"></div>
            </div>
        </div>
        <div id="spacer"></div>
        <div id="set-presets">
            <input type="button" value="Bright" data-setpreset="bright" />
            <input type="button" value="Comfort" data-setpreset="comfort" />
            <input type="button" value="Dim" data-setpreset="dim" />
            <input type="button" value="Harmony" data-setpreset="harmony" />
            <input type="button" value="Off" data-setpreset="off" />
        </div>
    </div>
</main>

{{ websocket_url | json_script:"websocket-url" }}
<script src="{% static 'js/lights.js' %}"></script>
{% endblock %}
