{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/map.css' %}" rel="stylesheet"/>
<title>Edinburgh Hackmap</title>
{% endblock %}

{% block body %}

<main>
    <svg
        id="map"
        viewBox="0 0 625 375"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">
        <link xmlns="http://www.w3.org/1999/xhtml" rel="stylesheet" href="/static/map.css" type="text/css"/>
        <defs
            id="defs1" />
        <g
            transform="translate(264.39243,123.95924)">

            <!-- Tools -->

            <!-- Laser cutters (in G2) -->
            <rect
                class="tool lasercutter"
                width="14.204831"
                height="36.237598"
                x="-166.67567"
                y="188.88391" />
            <path
                class="tool lasercutter"
                d="m -162.50916,205.55628 h -36.80072 v -7.29279" />
            <text
                class="tool lasercutter"
                xml:space="preserve"
                x="-226.40039"
                y="199.73814"><tspan x="-260.40039" y="195.73814">lasercutter</tspan></text>

            <rect
                class="tool lasercutter2"
                width="33.490749"
                height="57.780319"
                x="-121.66006"
                y="167.64182" />
            <path
                class="tool lasercutter2"
                d="m -86.948727,202.3232 h 13.887975 v 36.73046" />
            <text
                class="tool lasercutter2"
                xml:space="preserve"
                x="-106.62537"
                y="247.95316"
                id="text12-0-2"><tspan x="-106.62537" y="247.95316">lasercutter2</tspan></text>

            <!-- Robot arm -->
            <rect
                class="tool robotarm"
                width="18.294683"
                height="21.275509"
                x="114.45937"
                y="110.42714" />
            <path
                class="tool robotarm"
                d="m 124.54053,109.36808 v -8.89862 h 18.23072" />
            <text
                xml:space="preserve"
                class="tool robotarm"
                x="160.35342"
                y="109.61143"
                id="text21"><tspan x="148.35342" y="104.61143">robotarm</tspan></text>

            <!-- Sewing machine -->
            <rect
                class="tool sewingmachine"
                width="14.204831"
                height="36.061005"
                x="-174.22035"
                y="-105.2438" />
            <path
                class="tool sewingmachine"
                d="m -159.54425,-87.415706 h 35.3487 v -4.731803" />
            <text
                xml:space="preserve"
                class="tool sewingmachine"
                x="-121.23756"
                y="-94.674416"
                id="text20">
                <tspan x="-154.23756" y="-110.674416">sewing</tspan>
                <tspan x="-154.23756" y="-96.674416">machine</tspan>
            </text>

            <!-- CNC Router -->
            <rect
                class="tool cncrouter"
                width="27.695532"
                height="47.715424"
                x="130.11385"
                y="-15.319626" />
            <path
                class="tool cncrouter"
                d="M 130.73756,10.153811 H 118.956619 v -69.321278 h 12.147911" />
            <text
                xml:space="preserve"
                class="tool cncrouter"
                x="131.94858"
                y="-50.327072"><tspan x="133.94858" y="-57.327072">cnc router</tspan></text>

            <!-- Sander -->
            <rect
                class="tool sander"
                width="20.340311"
                height="29.277544"
                x="269.67361"
                y="-30.015087" />
            <path
                class="tool sander"
                d="m 289.08701,-13.64091 h 17.19421 v -45.428395" />
            <text
                xml:space="preserve"
                class="tool sander"
                x="262.13205"
                y="-61.679375"><tspan x="289.13205" y="-61.679375">sander</tspan></text>

            <!-- Bandsaw -->
            <rect
                class="tool bandsaw"
                width="30.390858"
                height="36.318302"
                x="260"
                y="-0.67633486" />
            <path
                class="tool bandsaw"
                d="m 290.95715,17.7043 h 18.16454 v 64.234594" />
            <text
                xml:space="preserve"
                class="tool bandsaw"
                x="259.0575"
                y="91.795052"><tspan x="289.0575" y="91.795052">bandsaw</tspan></text>

            <!-- Lathe -->
            <rect
                class="tool lathe"
                width="53.181961"
                height="22.545214"
                x="175.6028"
                y="49.98061" />
            <path
                class="tool lathe"
                d="m 200.33417,72.661957 v 19.395699 h 20.58249" />
            <text
                xml:space="preserve"
                class="tool lathe"
                x="198.68123"
                y="95.296509"><tspan x="223.68123" y="95.296509">lathe</tspan></text>

            <!-- Rooms and labels -->
            <rect
                class="room g11"
                width="159.82156"
                height="84.666664"
                x="-85.910446"
                y="-121.45924" />
            <text
                class="room label g11"
                xml:space="preserve"
                style="font-size:15.8384px"
                x="40.1021"
                y="-105.21385"
                id="text11"><tspan
                                sodipodi:role="line"
                                x="40.1021"
                                y="-105.21385">G11</tspan></text>
            <rect
                class="room g1"
                width="238.12498"
                height="116.41666"
                x="-53.689896"
                y="110.16856" />
            <text
                class="room g1"
                xml:space="preserve"
                style="font-size:23.3785px"
                x="154.60263"
                y="223.72664"><tspan
                               sodipodi:role="line"
                               x="151.60263"
                               y="220.72664">G1</tspan></text>
            <rect
                class="room g14"
                width="74.083328"
                height="119.06249"
                x="-233.89243"
                y="-120.0711" />
            <text
                class="room label g14"
                xml:space="preserve"
                style="font-size:16.893px"
                x="-192.78944"
                y="-4.0246921"><tspan
                               sodipodi:role="line"
                               x="-195.78944"
                               y="-6.0246921">G14</tspan></text>
            <rect
                class="room g8"
                width="120.1711"
                height="160.91695"
                x="-72.092018"
                y="129.51364"
                transform="rotate(-90)" />
            <text
                class="room label g8"
                xml:space="preserve"
                style="font-size:24.8279px"
                x="257.3959"
                y="-24.634007"><tspan
                                sodipodi:role="line"
                                x="134.3959"
                                y="-24.634007">G8</tspan></text>

            <rect
                class="room g2"
                width="79.263893"
                height="114.04519"
                x="-167.31538"
                y="112.2851" />
            <text
                class="room label g2"
                xml:space="preserve"
                style="font-size:23.899px"
                x="-121.19679"
                y="223.75183"><tspan
                               sodipodi:role="line"
                               x="-165.19679"
                               y="134.75183">G2</tspan></text>

            <!-- Hallway -->
            <path
                id="hallway"
                d="M -58.255798,-18.586224 V -36.726917 M -158.65003,-18.731859 H 101.00061 V 109.21193 m 59.95574,-36.24255 v 18.979237 h -59.90692 -213.74652 v 20.450973"
                sodipodi:nodetypes="cccccccccc" />
        </g>
    </svg>
    <ul id="log">
        <li>welcome</li>
    </ul>
</main>

{{ websocket_url | json_script:"websocket-url" }}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
