{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Control Centre</title>
        <link rel="shortcut icon" href="{% static "fav/favicon.ico" %}" type="image/x-icon">
        <link rel="icon" href="{% static "fav/favicon.ico" %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/control.css" %}">
    </head>
    <body>
        <main class="tile-area">
            {% for group in groups %}
            <section class="tile-group" style="grid-column: span {{ group.tile_width }}">
                <h3 class="tile-group-title" data-id="{{ group.id }}">{{ group.name }}</h3>
                {% for button in group.get_buttons %}
                    {% if button.name == "Refresh" %}
                    <a href="/" class="tile bg-{{ group.color }}" data-id="{{ button.id }}">
                    {% elif button.subscribe_topic != "" %}
                    <a href="#" class="tile bg-{{ group.color }} subscribe-inactive ajax"
                        data-id="{{ button.id }}"
                        data-subscribe-topic="{{ button.subscribe_topic }}"
                        data-subscribe-value="{{ button.subscribe_value }}">
                    {% else %}
                    <a href="#" class="tile bg-{{ group.color }} ajax" data-id="{{ button.id }}">
                    {% endif %}
                    <div class="tile-content">
                        <img src="{{ button.icon.url }}">
                        <label class="fg-{% if group.lighttext %}white{% else %}dark{% endif %}">{{ button.name }}</label>
                    </div>
                </a>
                {% endfor %}
            </section>
            {% endfor %}
        </main>
    </body>

    {{ MQTT_WS_URL | json_script:"websocket-url" }}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/mqtt-5.10.3.min.js' %}"></script>
    <script src="{% static 'js/control.js' %}"></script>
</html>
